#!/bin/bash
#########################################################
#                                                       #
#              MMDVMHost Service Handler                #
#                                                       #
# Written for Pi-Star (http://www.mw0mwz.co.uk/pi-star) #
#               By Andy Taylor (MW0MWZ)                 #
#                                                       #
#                     Version 1.1                       #
#                                                       #
#########################################################

# Service Config
DAEMON=MMDVMHost_NoOLED
DAEMON_PATH=/usr/local/bin/
CONFIG=/etc/mmdvmhost
DAEMON_OPTS=$CONFIG
PGREP=/usr/bin/pgrep
KILL=/bin/kill
SLEEP=/bin/sleep
USER=root
GROUP=mmdvm
LOGDIR=/var/log/pi-star
ipVar=`hostname -I | cut -d' ' -f1`

# Pre-flight checks...
test -x ${DAEMON_PATH}${DAEMON} || exit 0
test -r $CONFIG || exit 0

# if dstarrepeater is configured or running, dont start this daemon!
! test -r /etc/dstar-radio.dstarrepeater || exit 0
test -r /etc/dstar-radio.mmdvmhost || exit 0

# check if dstarrepeaterd is running, dont start MMDVMHost if it is.
if [ `$PGREP "dstarrepeaterd"` ]; then
  echo "Service 'dstarrepeaterd' is already running, cannot start $DAEMON"
  exit 0;
fi

if [[ $(egrep -h -i "M1ABC" ${CONFIG} | wc -l) -gt 0 ]]; then
  exit 0;
fi

# Verify the logging directory exists, if not create it and setup the ownership / permissions
if [ ! -d $LOGDIR ]; then
  mkdir -p $LOGDIR
  chown ${USER}:${GROUP} $LOGDIR
  chmod 775 $LOGDIR
fi

case "$1" in
	start)
		if [ `${PGREP} ${DAEMON}` ]; then
			echo -e "$DAEMON is already running as PID "`$PGREP $DAEMON`
			exit 0;
		else
			# Wait for an IP address
			until [ "${ipVar}" != " " ]; do
				sleep 10
				ipVar=`hostname -I`
			done
			runuser -l $USER -c "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"
			echo -e "$DAEMON started as PID "`$PGREP $DAEMON`
			exit 0;
		fi
		;;

	stop)
		if [ `${PGREP} ${DAEMON}` ]; then
			echo -e "Killing $DAEMON PID "`$PGREP $DAEMON`
			$KILL `${PGREP} ${DAEMON}`
			exit 0;
		else
			echo -e "$DAEMON is not running"
			exit 0;
		fi
		;;

	restart)
		if [ `$PGREP $DAEMON` ]; then
			echo -e "Killing $DAEMON PID "`$PGREP $DAEMON`
			$KILL `${PGREP} ${DAEMON}`
			$SLEEP 3
			runuser -l $USER -c "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"
			echo -e "$DAEMON re-started as PID "`${PGREP} ${DAEMON}`
			exit 0;
		else
			echo -e "$DAEMON is not running"
			runuser -l $USER -c "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"
			echo -e "$DAEMON started as PID "`${PGREP} ${DAEMON}`
			exit 0;
		fi
		;;

	status)
		if [ `${PGREP} ${DAEMON}` ]; then
			echo -e "$DAEMON is running as PID "`${PGREP} ${DAEMON}`
		else
			echo -e "$DAEMON is not running"
		fi
		;;

	*)
		echo $"Usage: $0 {start|stop|restart|status}"
		exit 0
esac
