#!/bin/bash
#########################################################
#                                                       #
#           pistar-watchdog Service Handler             #
#                                                       #
# Written for Pi-Star (http://www.mw0mwz.co.uk/pi-star) #
#               By Andy Taylor (MW0MWZ)                 #
#                                                       #
#                     Version 1.0                       #
#                                                       #
#########################################################

# Service Config
DAEMON=python
DAEMON_PATH=/usr/bin/
DAEMON_OPTS=/usr/local/sbin/pistar-watchdog
PGREP=/usr/bin/pgrep
KILL=/bin/kill
SLEEP=/bin/sleep

# Pre-flight checks...
test -x ${DAEMON_PATH}${DAEMON} || exit 0
test -x ${DAEMON_OPTS} || exit 0

case "$1" in
	start)
		if [ `${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"` ]; then
			echo -e "pistar-watchdog is already running as PID "`${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"`
			exit 0;
		else
			${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS} &
			echo -e "pistar-watchdog started as PID "`${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"`
			exit 0;
		fi
		;;

	stop)
		if [ `${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"` ]; then
			echo -e "Killing pistar-watchdog PID "`${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"`
			$KILL `${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"`
			exit 0;
		else
			echo -e "pistar-watchdog is not running"
			exit 0;
		fi
		;;

	restart)
		if [ `${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"` ]; then
			echo -e "Killing pistar-watchdog PID "`${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"`
			$KILL `${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"`
			$SLEEP 3
			${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS} &
			echo -e "pistar-watchdog re-started as PID "`${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"`
			exit 0;
		else
			echo -e "pistar-watchdog is not running"
			${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS} &
			echo -e "pistar-watchdog is started as PID "`${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"`
			exit 0;
		fi
		;;

	status)
		if [ `${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"` ]; then
			echo -e "pistar-watchdog is running as PID "`${PGREP} -f "${DAEMON_PATH}${DAEMON} ${DAEMON_OPTS}"`
		else
			echo -e "pistar-watchdog is not running"
		fi
		;;

	*)
		echo $"Usage: $0 {start|stop|restart|status}"
		exit 0
esac
